#joinBtn {
    font-family: 'Avenir';
    font-size: 18px;
    background-color: #003e4f;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 40px;
    transition: 0.2s;
    position: fixed;
    right: 55px;
    top: 20px;
    z-index: 100;
}

#joinBtn:hover {
    background-color: #1e5666;
    margin-bottom: 5px;
    cursor: pointer;
}