#mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003e4f;
    font-family: 'Avenir';
    text-align: center;
}

#mainDivQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003e4f;
    font-family: 'Avenir';
    text-align: center;
    width: 100%;
}

#mainTitle {
    font-family: 'AvenirBlack';
    color: white;
    background-color: #003e4f;
    width: 300px;
    padding: 7.5px 5px; 
    margin-bottom: 50px;
}

#inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.input {
    border: none;
    border-bottom: 1px solid #003e4f;
    font-size: 17.5px;
    min-width: 300px;
    margin: 10px 0px;
}

.input::placeholder {
    color: #003e4f;
}

#questionInput {
    margin-right: 50px;
}

.numberInput {
    border: none;
    border-bottom: 1px solid #003e4f;
    font-size: 17.5px;
    max-width: 140px;
    margin: 10px;
}

.numberInput::placeholder {
    color: #003e4f;
}

#postItBtn {
    border: none;
    font-family: 'AvenirBlack';
    color: #003e4f;
    border: 1px solid #003e4f;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    transition: .4s;
    margin-top: 50px;
}

#postItBtn:hover {
    color: white;
    background-color: #003e4f;
}

#icon {
    font-size: 30px;
    align-self: flex-start;
    cursor: pointer;
    color: #003e4f;
}

#questionIcon {
    font-size: 30px;
    align-self: flex-start;
    cursor: pointer;
    color: #003e4f;
    margin-left: 50px;
}

.typeahead {
    width: 300px;
    margin: 20px 0px;
}

#selectedSkillsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: center;
}

#previewInput {
    border: none;
    border-bottom: 2px solid #003e4f;
    font-family: 'Avenir';
    font-size: 17.5px;
    min-width: 200px;
    margin-top: 20px;
}

#previewInput::placeholder {
    color: #003e4f;
}

#imagePreview {
    height: 300px;
    width: 300px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}

#selectDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#label {
    margin: 35px 0px 5px 0px;
    font-family: 'AvenirBlack';
}

#select {
    border: none;
    border-bottom: 1px solid #003e4f;
    font-size: 17.5px;
    min-width: 300px;
    margin: 10px 0px;
    color: #003e4f;
}